#site-image img{
    animation-name: img__animate;
    animation: img__animate 1s linear 0s infinite alternate;
}

@keyframes img__animate {
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.01);
    }
    40%{
        transform: scale(1.02);
    }
    60%{
        transform: scale(1.03);
    }
    80%{
        transform: scale(1.04);
    }
    100%{
        transform: scale(1.05);
    }
}