/* adding google fonts through stylesheets */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* default property maintaining */
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #dfe6e9;
    padding: 0 5rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

p, a, input,label{
    font-family: 'Montserrat', sans-serif;
}

img{
    max-width: 100%;
}

/* header segment */
/* title maintenance */
#head-portion{
    padding: 2rem 0;
    text-align: center;
}

#body-portion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    align-items: center;
}

/* body segment */
/* first portion */
/* let not out the image of the box */
#first-portion{
    overflow: hidden;
}

#site-image{
    box-sizing: border-box;
    padding: 2rem;
    background-image: url(../img/img-2.png);
    position: relative;
    z-index: 1;
    border-radius: 1rem;
}

#site-image::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    border-radius: 1rem;
}

/* last portion */
#last-portion{
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
}
/* income statement */
#income-statement{
    padding: 1rem 0;
}
.income-box{
    margin-top: 1rem;
}
/* expense statement */
#expense-statement{
    padding: 1rem 0;
}
/* calculate expense segment */
#calc-expense-statement{
    padding: 1rem 0;
}
.calc-expense-desc{
    padding: 1rem 0;
}
#total-expense{
    margin-bottom: 0.5rem;
}
#balance{
    margin-top: 0.5rem;
}
.calc-expense-btn{
    padding: 0.5rem 0;
}
/* warning */
.warning {
    white-space: nowrap;
    margin-left: 5rem;
}
#saving-warning{
    display: block;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}
/* savings statement */
#savings-statement{
    padding: 1rem 0;
}
.savings-box{
    padding: 1rem 0;
}
#save-input{
    text-align: center;
}
#percentage{
    display: inline-block;
    padding: 0 3rem 0 .5rem;
    font-weight: 500;
    font-family: cursive;
}
/* saving amount */
#saving-amount{
    margin-bottom: 0.5rem;
}
#remaining-balance{
    margin-top: 0.5rem;
}
/* common button style */
.btn-style{
    background-color: #59A5FF;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    letter-spacing: 1.5px;
    transition: background-color .5s linear;
}
.btn-style:hover{
    background-color: #0984e3;
}
/* common style for label */
label{
    display: inline-block;
    width: 10%;
    font-weight: 500;
}
/* common style for input */
input{
    font-weight: 500;
    border: 1px solid #0984e3;
    border-radius: 0.5rem;
    padding: 0.4rem;
}
input:focus{
    outline: 2px solid #0984e3;
}
/* common style for expense box */
.expense-box{
    margin-top: 1rem;
}
/* common style for price */
.price{
    font-size: 1.5rem;
    font-weight: 400;
}
